<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
    .row {
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        margin: auto;
    }

    h1 {
        margin-left: 45%;
        margin-right: 45%;
    }

    .sub-content {
        height: 200px;
        width: 200px;
        margin: 10px;
        border: 5px solid black;
        border-radius: 5%;
    }
    </style>

    <title>Playground</title>

</head>
<body>
    <h1>Welcome!</h1>
    <div class="row">
        {% for x in range(num) %}
            <div class="sub-content" style="background-color: {{ color }};"></div>
        {% endfor %}
    </div>
</body>
</html>